[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-graphql = "*"
faker = "*"
setuptools = "*"
python-dotenv = "*"
black = "*"
graphene = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
flask-dance = "*"

[dev-packages]

[requires]
python_version = "3.10"
