alembic==1.13.2
aniso8601==7.0.0
anyio==4.3.0
appnope==0.1.3
ariadne==0.22
asttokens==2.4.1
attrs==23.2.0
backcall==0.2.0
-e git+ssh://git@github.com/zacmuturi45/GameGo.git@0ab9560843ddcb8c95d64fdf7892c4224b45fbd3#egg=backend&subdirectory=backend
bcrypt==4.1.2
black==24.4.2
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.38.0
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
Faker==26.0.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Dance==7.1.0
Flask-GraphQL==2.0.1
Flask-JWT-Extended==4.6.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
graphene==2.1.9
graphene-sqlalchemy==2.1.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==3.0.3
gunicorn==21.2.0
honcho==1.1.0
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipdb==0.13.9
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonify==0.5
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==1.0.0
matplotlib-inline==0.1.6
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.2.2
pluggy==1.4.0
promise==2.3
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
Pygments==2.17.2
PyJWT==2.8.0
pyparsing==3.0.9
pytest==8.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
Rx==1.6.3
singledispatch==4.1.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.31
SQLAlchemy-serializer==1.4.1
stack-data==0.6.3
starlette==0.37.2
toml==0.10.2
tomli==2.0.1
traitlets==5.14.1
typing_extensions==4.12.2
urllib3==2.2.2
URLObject==2.4.3
wcwidth==0.2.13
Werkzeug==3.0.3
zipp==3.19.2
