@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 980px) {
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
}
@media (min-width: 480px) {
  .cols-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 84.6153846154%;
  }
  .cols-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 92.3076923077%;
  }
}
@media (min-width: 720px) {
  .cols-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 53.8461538462%;
  }
  .cols-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 61.5384615385%;
  }
  .cols-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 76.9230769231%;
  }
}
@media (min-width: 980px) {
  .cols-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 46.1538461538%;
  }
}
@media (min-width: 1200px) {
  .cols-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 30.7692307692%;
  }
  .cols-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 46.1538461538%;
  }
  .cols-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 53.8461538462%;
  }
}
@media (min-width: 1500px) {
  .cols-3-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 23.0769230769%;
  }
  .cols-5-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 38.4615384615%;
  }
}

.spans-gray {
  color: #808080;
}

.spans-black {
  color: black;
}

.thickspans-white {
  background-color: white;
}

.navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 0.2rem 0.4rem;
  box-shadow: 2px 2px 3px rgb(0, 0, 1);
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.m-l-1 {
  margin-left: 0.5rem;
}

.m-l-2 {
  margin-left: 1rem;
}

.m-b-2 {
  margin-bottom: 1rem;
}

.m-b-4 {
  margin-bottom: 3rem;
}

.m-r-1 {
  margin-right: 0.5rem;
}

.m-r-2 {
  margin-right: 1rem;
}

.m-r-5 {
  margin-right: 4rem;
}

.br-lg {
  border-radius: 32px;
}

.dsp-f {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.fs-lg {
  font-size: 1.5rem;
}

body {
  background: hsl(10, 3%, 8%);
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  height: auto;
  position: relative;
  color: white;
  padding-top: 125px;
}

.links {
  text-decoration: none;
}
.links:hover {
  opacity: 0.7;
  transform: scale(0.99);
}

.main__navbar {
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  padding: 15px 32px;
  backdrop-filter: blur(15px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.main__navbar h1 {
  cursor: pointer;
  font-weight: 800;
  font-size: 1.6rem;
}
.main__navbar h1:hover {
  opacity: 0.7;
  transform: scale(0.99);
}
.main__navbar form {
  flex: 1;
  position: relative;
  height: 43px;
  margin: 0 2.5rem 0 1.5%;
}
.main__navbar form .faSearch-icon {
  transform: scale(1.1);
  position: absolute;
  left: 6.3%;
  top: 30%;
  color: rgb(131, 131, 131);
}
.main__navbar form .form-div {
  height: 43px;
  position: relative;
}
.main__navbar form .form-div .onSearchTab {
  visibility: hidden;
  position: absolute;
  top: 65px;
  left: 5.3%;
  border-radius: 15px;
  width: 92.3%;
  min-height: 0;
  height: auto;
  background-color: black;
}
.main__navbar input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  background-color: rgb(69, 67, 67);
  font-size: 17px;
  padding: 0 0 0 3rem;
  color: lightgray;
  font-size: 17px;
  flex: 1;
  color: black;
  margin-left: 5%;
}
.main__navbar input:focus {
  background: rgb(227, 227, 227);
  transition: all 0.3s ease-in-out;
}
.main__navbar input:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  color: black;
}
.main__navbar .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  width: 220px;
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  flex: 1;
}
.main__navbar .nav-ul > * {
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
.main__navbar .nav-ul .ul-divp {
  padding: 2px;
  overflow: hidden;
}
.main__navbar .nav-ul .ul-div1 {
  position: relative;
}
.main__navbar .nav-ul .ul-div1 .ul-child-div1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: white;
}
.main__navbar .nav-ul .ul-div1 .ul-child-div1b {
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 1px;
  width: 95%;
  background-color: white;
}
.main__navbar .nav-ul .ul-div2 {
  position: relative;
}
.main__navbar .nav-ul .ul-div2 .ul-child-div2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: white;
}
.main__navbar .nav-ul .ul-div2 .ul-child-div1c {
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 1px;
  width: 95%;
  background-color: white;
}
.main__navbar .nav-ul .ellipsis-div-main {
  position: relative;
}
.main__navbar .nav-ul .ellipsis-div-main:hover .ellipsis-div {
  display: flex;
}
.main__navbar .nav-ul .ellipsis-div-main .faEllipsis {
  font-size: 20px;
}
.main__navbar .nav-ul .ellipsis-div-main .ellipsis-div {
  display: none;
  position: absolute;
  top: 0;
  right: 16px;
  width: 205px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
}
.main__navbar .menuToggler {
  display: none;
}
.main__navbar .faremove {
  position: absolute;
  top: -0.6rem;
  right: 2rem;
  color: black;
  border-radius: 22px 0 0 22px;
  padding: 1rem 1.8rem;
  min-width: 250px;
}
.main__navbar .faremove p {
  margin: 0.5rem 0;
  font-size: 17px;
}
.main__navbar .faremove h2 {
  font-size: 27px;
  font-weight: 600;
}
.main__navbar .rateG {
  width: 80%;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 2px;
  padding: 0.2rem;
  margin: 1.4rem 0 2.2rem 0;
}
.main__navbar .menuBar {
  margin-right: 4rem;
  cursor: pointer;
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__navbar .menuBar > div {
  width: 30px;
  height: 1px;
  background-color: white;
}
.main__navbar .menuBar .div1 {
  margin-bottom: 7px;
}
.main__navbar .menuBar .div3 {
  margin-top: 7px;
}

@media screen and (max-width: 1500px) {
  .main__navbar form .faSearch-icon {
    left: 7.5%;
  }
  .main__navbar form .form-div .onSearchTab {
    left: 55px;
  }
}
@media screen and (max-width: 1295px) {
  .main__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
  }
  .main__navbar .toggle {
    position: relative;
    width: 90px;
  }
  .main__navbar h1 {
    letter-spacing: 0;
  }
  .main__navbar .nav-ul {
    display: none;
  }
  .main__navbar .menuToggler {
    display: flex;
  }
  .main__navbar form {
    max-width: 700px;
    height: 35px;
  }
  .main__navbar form .faSearch-icon {
    left: 50px;
    font-size: 14px;
    top: 30%;
  }
  .main__navbar form input {
    font-size: 17px;
    height: 100%;
  }
  .main__navbar form .form-div .onSearchTab {
    left: 40px;
    top: 50px;
  }
  .menuBar {
    align-self: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
  }
}
@media screen and (max-width: 720px) {
  .main__navbar form .faSearch-icon {
    left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .main__navbar h1 {
    font-size: 1rem;
  }
  .main__navbar form input {
    height: 80%;
  }
  .main__navbar form .form-div .onSearchTab {
    top: 40px;
    width: 100%;
    left: 12%;
  }
  .main__navbar form .faSearch-icon {
    top: 23%;
    left: 28px;
  }
}
.nav-hidden {
  top: -125px;
  transition: all 0.3s ease-in-out;
}

.sidenavlayout {
  width: 100%;
  height: auto;
  padding: 0 0 15rem 0;
  position: relative;
}
.sidenavlayout .sidenavbar {
  width: 230px;
  position: sticky;
  top: -31vh;
  padding-top: 2rem;
}
.sidenavlayout .sidenavbar .sidenavbar-content {
  margin-top: 30px;
}
.sidenavlayout .sidenavbar .sidenavbar-content h2 {
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.sidenavlayout .sidenavbar .sidenavbar-children h2 {
  font-size: 25px;
  margin-bottom: 1rem;
}
.sidenavlayout .main-pagejsx {
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
}
.sidenavlayout .main-pagejsx .main-pagejsx-h1 h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 1px;
}
.sidenavlayout .main-pagejsx .main-pagejsx-h1 p {
  font-size: 1rem;
}
.sidenavlayout .main-pagejsx .options-box {
  display: flex;
  padding: 0;
  align-items: center;
  max-width: 390px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: auto;
  min-width: 45%;
  background-color: rgb(40, 40, 40);
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-absolute {
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  color: black;
  font-size: 15px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-absolute > :not(:last-child) {
  margin: 0 0 0.3rem 0.8rem;
  letter-spacing: -1px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-absolute :last-child {
  margin-left: 0.8rem;
  letter-spacing: -1px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-absolute .spanOne {
  padding: 0.2rem 0.3rem;
  max-width: 85%;
  border-radius: 5px;
  font-weight: 400;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-absolute .spanOne:hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-pdiv {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child .options-box-pdiv:hover {
  opacity: 0.7;
  transform: scale(0.99);
  cursor: pointer;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 {
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 30%;
  background-color: rgb(40, 40, 40);
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-pdiv1 {
  font-size: 15px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-absolute1 {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  color: black;
  font-size: 15px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-absolute1 > :not(:last-child) {
  margin: 0 0 0.3rem 0.8rem;
  letter-spacing: -1px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-absolute1 :last-child {
  margin-left: 0.8rem;
  letter-spacing: -1px;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-absolute1 .spanTwo {
  padding: 0.2rem 0.3rem;
  max-width: 80%;
  border-radius: 5px;
  font-weight: 400;
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-absolute1 .spanTwo:hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .main-pagejsx .options-box .options-box-child1 .options-box-pdiv1:hover {
  opacity: 0.7;
  transform: scale(0.99);
  cursor: pointer;
}
.sidenavlayout .main-pagejsx .load-more {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
  height: auto;
  padding: 1rem;
}
.sidenavlayout .main-pagejsx .load-more > span {
  cursor: pointer;
  transform: scale(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(141, 141, 141);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  background-color: rgb(52, 52, 52);
}
.sidenavlayout .main-pagejsx .load-more > span:hover {
  transform: scale(0.99);
  opacity: 0.7;
}
.sidenavlayout .sidenavlayout-children {
  width: 100%;
  flex: 1;
  height: auto;
}
.sidenavlayout .sidenavbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidenavlayout .sidenavbox p {
  margin-left: 0.5rem;
  font-size: 17px;
}
.sidenavlayout .sidenavbox:hover {
  opacity: 0.7;
  transform: scale(0.99);
}
.sidenavlayout .sidenavbox-container {
  display: flex;
  flex-direction: column;
}
.sidenavlayout .sidenavbox-container > * {
  margin-top: 10px;
}
.sidenavlayout .visible {
  display: block;
}
.sidenavlayout .invisible {
  display: none;
}
.sidenavlayout .img {
  transform: rotate(180deg);
}
.sidenavlayout .tick-svg {
  display: none;
}
@media screen and (max-width: 1295px) {
  .sidenavlayout .sidenavbar-media {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .sidenavlayout .main-pagejsx {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidenavlayout .main-pagejsx .main-pagejsx-h1 {
    text-align: center;
  }
  .sidenavlayout .main-pagejsx .options-box {
    align-self: center;
    width: 410px;
  }
  .sidenavlayout .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidenavlayout .theCloud .cloudinary-container .cloudinarydiv3 .mobileview {
    display: block;
  }
}
@media screen and (max-width: 580px) {
  .sidenavlayout .sidenavbar-media {
    display: none;
  }
  .sidenavlayout .main-pagejsx {
    padding-top: 0;
  }
  .sidenavlayout .main-pagejsx .main-pagejsx-h1 {
    padding: 0;
  }
  .sidenavlayout .main-pagejsx .main-pagejsx-h1 h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .sidenavlayout .main-pagejsx .main-pagejsx-h1 p {
    font-size: 0.9rem;
  }
  .sidenavlayout .main-pagejsx .options-box {
    transform: scale(0.7);
  }
  .sidenavlayout .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
.sidenavlayout .main_card {
  display: flex;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  margin: 1rem 0;
  padding-bottom: 1rem;
  max-width: 540px;
  height: auto;
  background: hsl(200, 3%, 11%);
  border-radius: 15px;
}
.sidenavlayout .main_card:hover {
  transform: scale(1.03);
  z-index: 999;
  transition: 0.2s ease-in-out;
}
.sidenavlayout .cards {
  justify-content: space-between;
}
.sidenavlayout .cloudinary {
  position: relative;
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.sidenavlayout .cloudinary .img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1.02);
}
.sidenavlayout .cloudinary .cloudinary_video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  height: max-content;
}
.sidenavlayout .cloudinary:hover .cloudinary_video {
  z-index: 2;
  opacity: 1;
  transition: all 0.5s ease;
}
.sidenavlayout .theCloud {
  position: relative;
  height: 165px;
}
.sidenavlayout .cloudinary-container {
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(200, 3%, 11%);
  height: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sidenavlayout .cloudinarydiv1 {
  display: flex;
}
.sidenavlayout .cloudinarydiv1 > * {
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.sidenavlayout .cloudinarydiv1 > *:hover {
  opacity: 0.7;
  transform: scale(0.99);
}
.sidenavlayout .cloudinarydiv2 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
.sidenavlayout .cloudinarydiv2 h2 {
  position: relative;
  font-size: 1.7rem;
  align-items: center;
  letter-spacing: -1px;
}
.sidenavlayout .cloudinarydiv2 h2 span:hover {
  opacity: 0.7;
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
}
.sidenavlayout .cloudinarydiv2 h2 :nth-child(2) {
  position: absolute;
}
.sidenavlayout .cloudinarydiv3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sidenavlayout .cloudinarydiv3 > * {
  margin: 0 0.5rem 0 0;
  width: auto;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenavlayout .cloudinarydiv3 .plusWhite:hover {
  opacity: 0.7;
  transform: scale(0.99);
}
.sidenavlayout .cloudinarydiv3 .giftbox:hover {
  opacity: 0.7;
  transform: scale(0.99);
}
.sidenavlayout .cloudinarydiv3 .ellipsis-review {
  position: relative;
  z-index: 3;
}
.sidenavlayout .cloudinarydiv3 .ellipsis-review > div {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
}
.sidenavlayout .cloudinarydiv3 .ellips {
  font-size: 17px;
}
.sidenavlayout .cloudinarydiv4 {
  margin: 0.5rem 0;
  padding: 0.8rem 0 0.8rem 0;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(52, 52, 52);
}
.sidenavlayout .cloudinarydiv5 {
  font-size: 14px;
  margin: 0.5rem 0;
  padding: 0.8rem 0 0.8rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(52, 52, 52);
}
.sidenavlayout .cloudinarydiv5 > strong {
  border-bottom: 1px solid rgb(92, 92, 92);
}
.sidenavlayout .cloudinarydiv6 {
  font-size: 14px;
  margin: 0.5rem 0;
  padding: 0.8rem 0 0.8rem 0;
  display: flex;
  justify-content: space-between;
}
.sidenavlayout .cloudinarydiv6 > strong {
  border-bottom: 1px solid rgb(92, 92, 92);
}
.sidenavlayout .cloudinarydiv7 {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(52, 52, 52);
  border-radius: 12px;
}
.sidenavlayout .cloudinarydiv7 > span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.sidenavlayout .showcard {
  display: block;
}
.sidenavlayout .hidecard {
  display: none;
}
.sidenavlayout .showpanel {
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  color: rgb(26, 26, 26);
}
.sidenavlayout .showpanel > span {
  padding: 0.5rem 0 0.5rem 1.2rem;
  color: rgb(141, 141, 141);
}
.sidenavlayout .showpanel .grid-box {
  height: 100%;
  margin: 0 1rem 1rem 1rem;
  display: grid;
  border-radius: 10px;
  border: 1px solid rgb(222, 222, 222);
  grid-template-columns: repeat(2, 1fr);
}
.sidenavlayout .showpanel .grid-box :nth-child(1) {
  border-top-left-radius: 10px;
}
.sidenavlayout .showpanel .grid-box :nth-child(1):hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .showpanel .grid-box :nth-child(2) {
  border-top-right-radius: 10px;
}
.sidenavlayout .showpanel .grid-box :nth-child(2):hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .showpanel .grid-box :nth-child(3) {
  border-bottom-left-radius: 10px;
}
.sidenavlayout .showpanel .grid-box :nth-child(3):hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .showpanel .grid-box :nth-child(4) {
  border-bottom-right-radius: 10px;
}
.sidenavlayout .showpanel .grid-box :nth-child(4):hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .showpanel .grid-box > div {
  display: flex;
  border: 1px solid rgb(222, 222, 222);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidenavlayout .showpanel .grid-box > div span {
  margin-top: 0.2rem;
}
.sidenavlayout .showpanel .review-box {
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;
}
.sidenavlayout .showpanel .review-box:hover {
  background-color: rgb(219, 219, 219);
}
.sidenavlayout .showpanel .addTo-box {
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 25%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(225, 225, 225);
}
.sidenavlayout .showpanel .addTo-box:hover {
  color: rgb(75, 75, 75);
  font-size: 15px;
}
.sidenavlayout .hidepanel {
  display: none;
}

.view_more {
  display: none;
}

@media screen and (max-width: 2000px) {
  .main-pagejsx .cards > * {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 980px) {
  .main-pagejsx .cards > * {
    margin: 2rem 0;
  }
  .theCloud .cloudinary-container .cloudinarydiv3 .mobileview {
    display: block;
  }
  .view_more {
    display: block;
    text-align: center;
    color: rgb(177, 177, 177);
    margin: 0.5rem 0;
    align-self: center;
  }
  .view_more > * {
    border-bottom: 1px solid rgb(110, 110, 110);
  }
}
@media screen and (max-width: 580px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    width: 100%;
  }
  .main_card {
    margin-bottom: 2.5rem;
    width: 300px;
  }
  .main_card .showpanel {
    transform: scale(0.7);
  }
  .main_card .cloudinarydiv3 .ellipsis-review > div {
    top: -60px;
    left: -100px;
  }
}
.game_main {
  border: 1px solid red;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.game_main .game_container {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 2rem 0;
}
.game_main .game_container > div {
  border: 2px solid yellow;
  height: auto;
}
.game_main .game_container .game-container-div1 {
  border: 2px solid yellow;
}
.game_main .game_container .game-container-div1 > div {
  margin: 2rem 0;
  border: 1px solid red;
}
.game_main .game_container .game-container-div1 .game-container-div1-gray-title h4 {
  font-size: 10px;
  opacity: 0.7;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgb(110, 110, 110);
}
.game_main .game_container .game-container-div1 .game-container-div1-svgs {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}
.game_main .game_container .game-container-div1 .game-container-div1-svgs > span {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 12px;
}
.game_main .game_container .game-container-div1 .game-container-div1-title h1 {
  font-size: 65px;
  line-height: 1.05;
  letter-spacing: 1.2px;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo {
  display: flex;
  align-items: center;
  width: 100%;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 {
  background-color: white;
  overflow: hidden;
  max-height: 50px;
  display: flex;
  margin-right: 1rem;
  padding: 0.4rem 2.5rem 0.4rem 0.5rem;
  border-radius: 8px;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1:hover {
  background-color: rgb(227, 227, 227);
  transition: all 0.3s ease-in-out;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 .addTo-svg {
  position: absolute;
  right: -12px;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 p {
  color: rgb(131, 131, 131);
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 h4 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(29, 29, 29);
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 h4 span {
  color: rgb(131, 131, 131);
  font-size: 0.8rem;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 {
  background: transparent;
  overflow: hidden;
  max-height: 60px;
  cursor: pointer;
  display: flex;
  margin-right: 1rem;
  padding: 0.4rem 3.5rem 0.4rem 1rem;
  border: 1.5px solid white;
  border-radius: 8px;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 .addTo-svg {
  position: absolute;
  right: -15px;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 p {
  color: rgb(131, 131, 131);
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 h4 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 {
  background: transparent;
  overflow: hidden;
  max-height: 60px;
  display: flex;
  margin-right: 1rem;
  padding: 0.4rem 3.5rem 0.4rem 1rem;
  border-radius: 5px;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 .addTo-svg {
  position: absolute;
  right: 0;
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 p {
  color: rgb(131, 131, 131);
}
.game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 h4 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div {
  display: flex;
  align-items: center;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div > div {
  margin: 0 1rem 0 0;
  padding: 0.5rem 1rem 0.5rem 0;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 {
  border-right: 1px solid rgb(72, 68, 68);
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2.2px;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 p {
  font-size: 0.8rem;
  color: rgb(110, 110, 110);
  border-bottom: 1px solid rgb(72, 68, 68);
  width: fit-content;
  margin-top: 0.3rem;
  letter-spacing: 2px;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container {
  display: flex;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container > div {
  margin: 0 1rem 0 0;
  padding: 0.5rem 1rem 0.5rem 0;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 {
  border-right: 1px solid rgb(72, 68, 68);
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 p {
  font-size: 0.8rem;
  color: rgb(110, 110, 110);
  border-bottom: 1px solid rgb(72, 68, 68);
  width: fit-content;
  margin-top: 0.3rem;
  letter-spacing: 2px;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 {
  border-right: 1px solid rgb(72, 68, 68);
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 p {
  font-size: 0.8rem;
  color: rgb(110, 110, 110);
  border-bottom: 1px solid rgb(72, 68, 68);
  width: fit-content;
  margin-top: 0.3rem;
  letter-spacing: 2px;
}
.game_main .game_container .game-container-div1 .ratings-bar p {
  color: rgb(110, 110, 110);
  margin: 0.3rem 0;
  font-size: 0.9rem;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  height: 45px;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar1 {
  background-color: rgb(86, 194, 111);
  height: 100%;
  width: 30%;
  position: relative;
  overflow: hidden;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar1 .rating-bar-svg {
  position: absolute;
  bottom: -5px;
  left: -5px;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar2 {
  background-color: rgb(89, 89, 169);
  height: 100%;
  width: 25%;
  position: relative;
  overflow: hidden;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar2 .rating-bar-svg {
  position: absolute;
  bottom: -10px;
  left: -10px;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar3 {
  background-color: rgb(195, 173, 63);
  height: 100%;
  width: 15%;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar4 {
  background-color: rgb(183, 79, 42);
  height: 100%;
  width: 30%;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info {
  display: flex;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info > div p {
  color: white;
  font-weight: 600;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info > div div {
  width: 10px;
  margin-right: 0.5rem;
  height: 10px;
  border-radius: 50%;
}
.game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info > div strong {
  margin-left: 0.2rem;
  font-weight: 400;
}
.game_main .game_container .game-container-div1 .write-review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_main .game_container .game-container-div1 .write-review div {
  transform: scale(0.8);
  align-self: center;
  background-color: rgb(40, 40, 40);
  color: rgb(110, 110, 110);
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.game_main .game_container .game-container-div1 .write-review div:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.game_main .game_container .game-container-div1 .about-div {
  max-width: 700px;
  height: auto;
}
.game_main .game_container .game-container-div1 .about-div h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.game_main .game_container .game-container-div1 .about-div p {
  line-height: 1.2;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.game_main .game_container .game-container-div1 .about-div p span {
  width: fit-content;
  cursor: pointer;
  padding: 3px 10px;
  font-size: 0.6rem;
  border-radius: 3px;
  font-weight: 600;
  background-color: white;
  color: black;
}
.game_main .game_container .game-container-div2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  padding: 4rem 1.5rem 0 1.5rem;
  align-items: center;
}
.game_main .game_container .game-container-div2 .game-container-div2-video {
  width: 100%;
  height: 230px;
  max-height: 300px;
  border-radius: 8px;
  border: 1px solid yellow;
}
.game_main .game_container .game-container-div2 .game-container-div2-images {
  border: 1px solid yellow;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.game_main .game_container .game-container-div2 .game-container-div2-images > div {
  border: 1px solid red;
  border-radius: 8px;
  width: 100%;
  height: 120px;
  max-height: 200px;
  overflow: hidden;
}
.game_main .game_container .game-container-div2 .game-container-div2-images > div .game-image {
  width: 100%;
  height: 100%;
}
.game_main .game_container .game-container-div2 .game-container-div2-buyGame {
  width: 100%;
  background-color: white;
  display: flex;
  padding: 0.5rem 0;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  color: black;
}
.game_main .game_container .game-container-div2 .game-container-div2-buyGame .buysvg {
  margin: 0 0.5rem;
}
.game_main .game_container .game-container-div2 .game-container-div2-buyGame p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(62, 62, 62);
  letter-spacing: 0.5px;
}
.game_main .reviews-div {
  border: 2px solid yellow;
  align-self: center;
  height: auto;
  margin: 2rem 0;
}

@media screen and (min-width: 2000px) {
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar {
    width: 80%;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info {
    width: 90%;
  }
}
@media screen and (max-width: 1850px) {
  .game_main .game_container .game-container-div1 .game-container-div1-title h1 {
    font-size: 60px;
    letter-spacing: -1px;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 {
    width: 35%;
    margin-right: 1rem;
    padding: 0.4rem 0 0.4rem 0.3rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 {
    width: 20%;
    margin-right: 1.2rem;
    padding: 0.4rem 0 0.4rem 0.3rem;
    margin: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 {
    width: 25%;
    padding: 0.4rem 0 0.4rem 0.3rem;
    margin-left: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div {
    flex-direction: column;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 {
    transform: scale(0.8);
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 h2 {
    font-size: 1.5rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container > div {
    margin: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 {
    transform: scale(0.8);
    width: fit-content;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 h2 {
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 p {
    margin: 0 0.5rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 {
    transform: scale(0.8);
    width: fit-content;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 h2 {
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 p {
    margin: 0 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 {
    width: 30%;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div {
    flex-direction: column;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 {
    transform: scale(0.9);
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 h2 {
    font-size: 1.5rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container > div {
    margin: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 {
    transform: scale(0.9);
    width: fit-content;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 h2 {
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 p {
    margin: 0 0.5rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 {
    transform: scale(0.9);
    width: fit-content;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 h2 {
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 p {
    margin: 0 0.5rem;
  }
}
@media screen and (max-width: 980px) {
  .game_main .game_container {
    flex-direction: column;
    align-items: center;
    width: inherit;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-title h1 {
    font-size: 45px;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-svgs {
    align-items: center;
    justify-content: center;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-gray-title h4 {
    font-size: 0.5rem;
    text-align: center;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 {
    transform: scale(0.9);
    width: 100%;
    margin-right: 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 {
    transform: scale(0.9);
    margin-right: 0;
    width: 100%;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 {
    transform: scale(0.9);
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .game_main #addtosvg {
    width: 30px;
    height: 30px;
    right: -5px;
  }
  .game_main #addtosvg2 {
    width: 30px;
    height: 30px;
    right: -5px;
  }
  .game_main #addtosvg3 {
    width: 30px;
    height: 30px;
  }
  .game_main .game_container {
    flex-direction: column;
    align-items: center;
    width: inherit;
  }
  .game_main .game_container .game-container-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game_main .game_container .game-container-div1 > div {
    margin: 0.5rem 0;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-title h1 {
    text-align: center;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-gray-title {
    width: 295px;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-svgs {
    width: 295px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-svgs span {
    font-size: 0.7rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-svgs .gamePlatform-image {
    width: 20px;
    height: 20px;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-title h1 {
    font-size: 40px;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo {
    width: 295px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 {
    transform: scale(1);
    width: 100%;
    margin-right: 0;
    padding: 0.3rem 0 0.3rem 0.5rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 .addTo-svg {
    width: 20;
    height: 20;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 h4 {
    letter-spacing: 0;
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 h4 span {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo1 p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 {
    transform: scale(1);
    margin-right: 0;
    width: 100%;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 .addTo-svg {
    width: 20;
    height: 20;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 h4 {
    letter-spacing: 0;
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 h4 span {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo2 p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 {
    transform: scale(1);
    margin: 0;
    width: 100%;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 .addTo-svg {
    width: 20;
    height: 20;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 h4 {
    letter-spacing: 0;
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 h4 span {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-addTo .addTo3 p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div {
    width: 295px;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 h2 {
    font-size: 1rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div1 p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 h2 {
    font-size: 0.9rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div2 p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 h2 {
    font-size: 0.9rem;
  }
  .game_main .game_container .game-container-div1 .game-container-div1-ratings-div .ratings-div-container .ratings-div3 p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .ratings-bar {
    width: 295px;
  }
  .game_main .game_container .game-container-div1 .ratings-bar p {
    color: rgb(110, 110, 110);
    margin: 0.3rem 0;
    font-size: 12px;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar {
    height: 40px;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar1 .rating-bar-svg {
    height: 40px;
    width: 40px;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-bar .bar2 .rating-bar-svg {
    height: 40px;
    width: 40px;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info {
    flex-wrap: wrap;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info > div {
    width: auto;
    margin-right: 0.5rem;
  }
  .game_main .game_container .game-container-div1 .ratings-bar .ratings-bar-info > div p {
    font-size: 12px;
  }
  .game_main .game_container .game-container-div1 .write-review {
    transform: scale(0.8);
  }
  .game_main .game_container .game-container-div1 .about-div {
    width: 295px;
  }
  .game_main .game_container .game-container-div1 .about-div h4 {
    font-size: 1.2rem;
  }
  .game_main .game_container .game-container-div1 .about-div p {
    font-size: 0.8rem;
  }
  .game_main .game_container .game-container-div1 .about-div p span {
    font-size: 0.5rem;
  }
  .game_main .game_container .game-container-div2 .game-container-div2-images {
    display: flex;
    flex-direction: column;
  }
  .game_main .game_container .game-container-div2 .game-container-div2-buyGame {
    transform: scale(0.9);
  }
}