.card {
    box-shadow: 2px 1px 10px rgba(0, 0, 0.75);
    .card-title {
        color: gray;
        letter-spacing: 2px;
    }
    .card-body {
        font-weight: 400;
        line-height: 43px;
    }
}